.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 43% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(-3px);
  }
  90% {
    transform: translateY(-1px);
  }
}
